<main>
    <h1>
      {{title}}
      

       {{#each art}}
       <ul>
      <li>{{title}}</li>
      <li>{{artist.name}}</li>
      <li>{{license.name}}</li>
      </ul>
      {{/each}}






    </h1>
  
    
  </main>
